* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.board-div{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 70vh;
    height: 70vh;
    background-color: rgb(240, 233, 215);
    padding: 25px;
    gap: 10px;
    border-radius: 12px;
}

.hide-board{
    display: none;
}

.board-button{
    background-color: white;
    font-size: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.board-button.X{
    background-color: rgba(195, 72, 72, 0.731);
    
}

.board-button.O{
    background-color: rgba(80, 72, 195, 0.731);
    
}

.start-game-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 50%;
    opacity: 0;
    transition: opacity 2s ease;
}

.start-game-div.visible{
    opacity: 1;
}

.current-player{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: center;
}

.logo-img{
    width: 15vw;
    margin-bottom: 24px;
}

label{
    font-size: 18px;
    font-weight: 600;
    color: rgb(61, 37, 6);

}

input[type="text"]{
    padding: 8px 24px 8px 24px;

}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 16px;
    width: 100%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

input[type="submit"]{
    margin-top: 24px;
    font-size: 24px;
    background-color: bisque;
    padding: 12px 24px 12px 24px;
    border-radius: 12px;
    border:none;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.105);
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(202, 185, 175);
    transform: scale(1.02);
}